html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo
{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    background: #ff32ee; /* Old browsers */
    background: -webkit-linear-gradient(#ff32ee, #633563);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

nav
{
	margin-top: 25px;
	margin-bottom: 25px;
}

nav li
{
	margin-top: 20px;
	margin-bottom: 20px;
	list-style: none;
}

nav a
{
	color: #fff;
	font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#albums li
{
	list-style: none;
}

#albums h2
{
    text-align: center;
    font-size: 35px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

#albums img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 200px;
}

@media (min-width: 720px) {
    header
    {
        display: flex;
    }
    .logo
    {
    	width: 40%;
    }

 	nav
 	{
 		margin-top: -10px;
 		width: 60%;
 		margin-right: 30px;
 	}
 	nav ul
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between !important; 
    }

    nav li
	{
		margin-left: auto;
		margin-right: auto;
	}

	nav a
	{
		font-weight: 300;
	}


    #albums ul
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}